<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Create</title>
</head>
<body>
<a href="/main-page">Main page</a>
</br>
<form action="#" th:action="@{/books/book-create}" th:object="${book}" method="post">
    <table>
        <tr>
            <td><label for="title">Title</label></td>
            <td><input type="text" th:field="*{title}" id="title" placeholder="Title"></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </tr>
        <tr>
            <td><label for="author">Author</label></td>
            <td><input type="text" th:field="*{author}" id="author" placeholder="Author"></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="text" th:field="*{price}" id="price" placeholder="Price"></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</td>
        </tr>
        <tr>
            <td><input type="submit" value="Create Book"></td>
        </tr>
    </table>
</form>
</body>
</html>